<header>

    <div class="header-left">
        <a *ngIf="! isLoggedIn()" routerLink="/login">Se connecter</a> 
        <a *ngIf=" isLoggedIn()" (click)="logout()">Se déconnecter</a>
        <i class="fas fa-sign-out" style="font-size:36px"></i>
    </div>
        
    <div class="logo-container">
        <img src="https://www.tuneps.tn/assets/images/logo-tuneps.svg" class="app-logo" alt="logo_tuneps" />
        <h1>République de Tunisie <br>
            Présidence du Gouvernement</h1>
        <img src="https://www.tuneps.tn/assets/images/drapeau.svg" class="app-logo" alt="logo_dr" />
        <img src="https://www.tuneps.tn/assets/images/logo_republique.svg" class="app-logo" alt="logo" />
    </div>
</header>