<!DOCTYPE html>
<html lang="fr">

<body>
    <h1>Bureau du Contrôle des Comptes en Tunisie</h1>
    <p>Le Bureau du Contrôle des Comptes est l'autorité compétente pour garantir la bonne gestion des fonds publics et lutter contre la corruption. Voici un aperçu de ses pouvoirs et des infractions qui doivent être signalées :</p>
    
    <h2>Pouvoirs du Bureau du Contrôle des Comptes dans les achats publics</h2>
    <ul>
        <li><strong>Audit financier :</strong> Vérification des opérations financières pour s'assurer de leur conformité avec les lois et règlements en vigueur.</li>
        <li><strong>Inspection et contrôle :</strong> Réalisation de contrôles pour garantir le respect des normes financières et administratives.</li>
        <li><strong>Surveillance des marchés publics :</strong> Vérification de la légalité des procédures de concurrence, de l’attribution des contrats et des conditions d'exécution.</li>
    </ul>
    
    <h2>Infractions à signaler au Bureau du Contrôle des Comptes</h2>
    <p>Les clients (organismes et individus) doivent signaler les infractions suivantes :</p>
    <ul>
        <li><strong>Infractions financières :</strong> Manipulation des budgets, dépense d'argent de manière illégale ou utilisation des fonds publics à des fins personnelles.</li>
        <li><strong>Infractions administratives :</strong> Nominations illégales, falsification de documents officiels ou violation des principes de transparence et d'égalité dans les transactions.</li>
        <li><strong>Infractions dans les achats publics :</strong> Manipulation des procédures d'appel d'offres, attribution de contrats de manière illégale, ou acceptation de cadeaux et de pots-de-vin de la part des fournisseurs.</li>
    </ul>
    
    <h2>Responsabilités des contrevenants</h2>
    <ul>
        <li><strong>Amendes financières :</strong> Des amendes proportionnelles à la gravité de l'infraction peuvent être appliquées.</li>
        <li><strong>Sanctions disciplinaires :</strong> Cela peut inclure des suspensions, des licenciements ou la privation de droits professionnels.</li>
        <li><strong>Responsabilité pénale :</strong> Dans certains cas graves, les sanctions peuvent aller jusqu'à des peines de prison pour des crimes financiers ou administratifs.</li>
    </ul>
    <a href="formulaire.html" class="boutt">Signaler une infraction</a>
</body>
</html>
