<section class="vh-100" style="background-color: #f4f5f7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 bg-primary text-center text-white d-flex flex-column align-items-center justify-content-center"
                 style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <i class="fas fa-user-circle fa-5x my-4"></i>
              <h5>{{ employee.firstname }} {{ employee.lastname }}</h5>
              <p>Employé</p>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Informations</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{ employee.email }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>CIN</h6>
                    <p class="text-muted">{{ employee.cin }}</p>
                  </div>
                </div>
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Mot de passe</h6>
                    <p class="text-muted" hidden="hidden">{{ employee.password }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Rôle</h6>
                    <p class="text-muted">Employé</p>
                  </div>
                </div>
                <div class="d-flex justify-content-start mt-3">
                  <button class="btn btn-outline-primary" (click)="openPasswordPrompt()">Modifier les informations</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="passwordModalLabel">Vérification du mot de passe</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
        <input [(ngModel)]="passwordInput" type="password" class="form-control" placeholder="Entrez votre mot de passe">
        <div class="text-danger mt-2">{{ errorMessage }}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" (click)="verifyPassword()">Valider</button>
      </div>
    </div>
  </div>
</div>
